In [116]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('redfin_house_data.csv')
df2 = pd.read_csv('redfin_house_data_batch2.csv')
df3 = pd.read_csv('redfin_house_data_batch3.csv')
df4 = pd.read_csv('redfin_house_data_batch4.csv')

# Concatenate the DataFrames
combined_df = pd.concat([df1, df2, df3, df4])

# Save the combined DataFrame to a CSV file
combined_df.to_csv('combined_file.csv', index=False)

In [117]:
combined_df.count()

property_id       33453
full_address      33453
beds              33453
baths             33453
year_built        33453
sq_ft_interior    33453
sq_ft_lot         33453
price             33453
price_label       33453
lat               33453
long              33453
img_url           33453
zip_code          33453
dtype: int64

In [118]:
combined_df.nunique()

property_id       33453
full_address      33453
beds                 12
baths                22
year_built          124
sq_ft_interior     3955
sq_ft_lot          5728
price             32126
price_label           1
lat               33210
long              23533
img_url           33453
zip_code             83
dtype: int64

In [119]:
combined_df = combined_df.drop(columns=["price_label", "img_url", "property_id"])
combined_df.head()

,full_address,beds,baths,year_built,sq_ft_interior,sq_ft_lot,price,lat,long,zip_code
0,2326 LUAU ST MESQUITE TX 75150,3,1.5,1966,1356,8303,241183,32.798774,-96.649097,75150
1,1737 HIGHLAND ST MESQUITE TX 75149,3,1.0,1955,1454,7501,218014,32.787427,-96.609647,75149
2,2900 SIDNEY DR MESQUITE TX 75150,3,2.0,1972,1392,7196,241089,32.817247,-96.644125,75150
3,1507 RICHARD ST MESQUITE TX 75149,3,1.0,1957,1313,7501,205940,32.787413,-96.616575,75149
4,806 BRANDON DR SEAGOVILLE TX 75159,5,2.0,2004,1504,8407,275611,32.661589,-96.547004,75159

In [120]:
combined_df.dtypes

full_address       object
beds                int64
baths             float64
year_built          int64
sq_ft_interior      int64
sq_ft_lot           int64
price               int64
lat               float64
long              float64
zip_code           object
dtype: object

In [121]:
print(combined_df.count())

full_address      33453
beds              33453
baths             33453
year_built        33453
sq_ft_interior    33453
sq_ft_lot         33453
price             33453
lat               33453
long              33453
zip_code          33453
dtype: int64

In [122]:
# get rid of zip codes with null (string, 5 spaces) values 
# cleaned_combined_df = combined_df[(combined_df != "     ").all(axis=1)]
cleaned_combined_df = combined_df[combined_df['zip_code'] != "     "]

In [123]:
print(cleaned_combined_df.count())

full_address      33208
beds              33208
baths             33208
year_built        33208
sq_ft_interior    33208
sq_ft_lot         33208
price             33208
lat               33208
long              33208
zip_code          33208
dtype: int64

In [124]:
cleaned_combined_df = cleaned_combined_df.drop_duplicates(keep=False, subset=["full_address"])
cleaned_combined_df.count()

full_address      33208
beds              33208
baths             33208
year_built        33208
sq_ft_interior    33208
sq_ft_lot         33208
price             33208
lat               33208
long              33208
zip_code          33208
dtype: int64

In [130]:
cleaned_combined_df.reset_index(drop=True)

,full_address,beds,baths,year_built,sq_ft_interior,sq_ft_lot,price,lat,long,zip_code
0,2326 LUAU ST MESQUITE TX 75150,3,1.5,1966,1356,8303,241183,32.798774,-96.649097,75150
1,1737 HIGHLAND ST MESQUITE TX 75149,3,1.0,1955,1454,7501,218014,32.787427,-96.609647,75149
2,2900 SIDNEY DR MESQUITE TX 75150,3,2.0,1972,1392,7196,241089,32.817247,-96.644125,75150
3,1507 RICHARD ST MESQUITE TX 75149,3,1.0,1957,1313,7501,205940,32.787413,-96.616575,75149
4,806 BRANDON DR SEAGOVILLE TX 75159,5,2.0,2004,1504,8407,275611,32.661589,-96.547004,75159
...,...,...,...,...,...,...,...,...,...,...
33203,827 KITTY HAWK LN GRAND PRAIRIE TX 75051,2,2.0,2006,1362,304920,287949,32.735555,-97.018267,75051
33204,2202 AVE C GRAND PRAIRIE TX 75051,3,2.0,1972,1774,9204,224423,32.713519,-96.981843,75051
33205,2445 DONNA DR GRAND PRAIRIE TX 75051,3,1.5,1972,996,6277,231002,32.708333,-96.986794,75051
33206,326 DORRIS DR GRAND PRAIRIE TX 75051,3,1.5,1964,1056,7854,221346,32.715131,-97.008839,75051
33207,409 DORRIS DR GRAND PRAIRIE TX 75051,3,1.5,1964,1061,8368,237525,32.714484,-97.010177,75051

In [131]:
cleaned_combined_df.to_csv('cleaned_data.csv', index=False)